@font-face{
  font-family: terminalsans;
  src: url(ds_terminal/DS-TERM.TTF)
}



body{
  font-family: terminalsans;
  background-color: rgb(0, 0, 0);
  color: rgb(19, 167, 19);
}

.navbar {
  width: 100%;
  background-color: #000000;
  padding-top: 25px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  font-size: 36px;
  text-decoration: none;
  text-shadow: darkgreen 4px 3px 3px;
}

.navbar a {
  margin-right: 50px;
  text-decoration: none;
  color: rgb(19, 167, 19);
}

.navbar a:hover{
  text-decoration: underline;
}


.image{
  width: 100px;
  margin: 6px;
  
}

.view-container{
  margin: 30px 50px auto;
  padding: 15px;
  height: 500px;
  border: solid 3px rgb(19, 167, 19);
}

.view-body{
  margin: 10px -30px;
  padding-left: 75px;
  height: 445px;
  background-color: black;
}


.view-header{
  margin: auto;
  float: left;
  width: 120px;
  font-size: 25px;
  text-decoration: none;
  color:rgb(19, 167, 19);
}

.view-title{
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  text-decoration: none;
  color: rgb(19, 167, 19);
  font-size: 60px;
}

.project-tabs{
  display: flex;
  
}

.project-body{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.project-button{
  display: inline-flex;
  float: inline-end;
  height: 35px;
  margin: 5px;
  font-size: 25px;
  background-color: black;
  color: rgb(19, 167, 19);
  border: 2px solid rgb(19, 167, 19);
}

.image-scroll-container{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 220px;
}

.scroll-image{
  flex: 0 0 auto;
  scroll-snap-align: center;
  max-width: 65%;
  height: 65%;
  margin-right: 10px;
}

.project-button:focus,
.project-button:hover{
  background-color: rgb(19, 167, 19);
  color: black;
}

.project-button:active{
  background-color: black;
  color:rgb(19, 167, 19) ;
}

.projectList-header{
  font-size:35px ;
}

.project-title{
  align-self: flex-start;
  font-size: 70px;
}

.column{
  flex:1;
}

.list-view{
  flex: 1;
  margin-right: 120px;
}

.work-list{
  list-style-type: none;
  font-size:25px;
  margin: 10px;
}

.work-list:hover{
  text-decoration: underline;
  cursor: pointer;
}

.work-view{
  flex: 3;
  width:600px;
  font-size: 20px;
}

.code-title{
  font-size: 32px;
}

.code-view{
  margin-top: 100px;
  margin-left: 15px;
}

.button-link{
  display: inline-block;
  text-decoration: underline;
  color:rgb(19, 167, 19);
  margin: 10px;
}

.button-link:click{
  text-decoration: none;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.about-title{
  font-size: 70px;
}

.about-content{
  font-size: 20px;
}

.bold{
  font-size: 25px;
  font-style:oblique;
}
.art-title{
  font-size: 28px;
  text-decoration: underline;
}

.ex-buttons{

  text-decoration: none;
  font-size: 45px;
  color:rgb(19, 167, 19);
  margin: 35px;
}

.ex-buttons:hover{
  text-decoration: underline;
}