@font-face{
  font-family: terminalsans;
  src: url(ds_terminal/DS-TERM.TTF)
}

body{
  font-family: terminalsans;
  background-color: rgb(0, 0, 0);
  color: rgb(19, 167, 19);
}

.navbar {
  width: 100%;
  background-color: #000000;
  padding-top: 25px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  font-size: 36px;
  text-decoration: none;
  text-shadow: darkgreen 4px 3px 3px;
}

.navbar a {
  margin-right: 50px;
  text-decoration: none;
  color: rgb(19, 167, 19);
}

.navbar a:hover{
  text-decoration: underline;
}


.image{
  width: 100px;
  margin: 6px;
}

.home-gif{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-body{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
  display: flex;

  font-size: 32px;
}

.view-container{
  margin: 3px 50px auto;
  padding: 10px;
  height: 525px;
  border: solid 3px rgb(19, 167, 19);
}

.view-body{
  margin: 10px -20px;
  padding-left: 55px;
  height: 480px;
  background-color: black;
}


.view-header{
  margin: auto;
  float: left;
  width: 120px;
  font-size: 25px;
  text-decoration: none;
  color:rgb(19, 167, 19);
}

.view-title{
  display: flex;
  flex-direction: column;
  
  text-decoration: none;
  color: rgb(19, 167, 19);
  font-size: 60px;
}

.project-tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.project-body{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.project-button{
  height: 75px;
  width: 105px;
  margin: 8px;
  font-size: 35px;
  background-color: black;
  color: rgb(19, 167, 19);
  border: 2px solid rgb(19, 167, 19);
}

.back-button{
  font-size: 12px;
  background-color: black;
  color: rgb(19, 167, 19);
  border: 2px solid rgb(19, 167, 19);
}

.image-scroll-container{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 240px;
  
}

.scroll-image{
  flex: 0 0 auto;
  scroll-snap-align: center;
  max-width: 65%;
  height: 200px;
  margin-right: 10px;
}

::-webkit-scrollbar{
  width: 3px;
  color: 'green';
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #232323;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #00ff08;
  border-radius: 50px;
}

.project-button:focus,
.project-button:hover{
  background-color: rgb(19, 167, 19);
  color: black;
}

.project-button:active{
  background-color: black;
  color:rgb(19, 167, 19) ;
}

.projectList-header{
  font-size:35px ;
}

.project-title{
  align-self: flex-start;
  font-size: 70px;
}

.column{
  flex:1;
}

.list-view{
  flex: 1;
  margin-right: 120px;
}

.work-list{
  list-style-type: none;
  font-size:25px;
  margin: 10px;
}

.work-list:hover{
  text-decoration: underline;
  cursor: pointer;
}

.work-view{
  flex: 3;
  width:600px;
  font-size: 20px;
}

.code-title{
  font-size: 32px;
}

.code-view{
  margin-top: 100px;
  margin-left: 15px;
}

.button-link{
  display: inline-block;
  text-decoration: underline;
  color:rgb(19, 167, 19);
  margin: 10px;
}

.button-link:click{
  text-decoration: none;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  height: 480px;
}

.about-title{
  font-size: 40px;
  padding: 5px;
}

.about-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: rgb(19, 167, 19);
  height: 45vh;
  width: 1090px;
}

.about-box {
  padding: 20px;
  font-size: 20px;
  line-height: 2.5;
  max-height: calc(50vh - 40px);
}

.about-box p {
  margin: 0;
}

.about-image{
  margin: 15px;
}


.bold{
  font-size: 25px;
  font-style:oblique;
}
.art-title{
  font-size: 28px;
  text-decoration: underline;
}

.external-links{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px
  
}

.ex-buttons{
  width: 300px;
  height: 65px;
  text-decoration: none;
  font-size: 45px;
  color:rgb(19, 167, 19);
  margin: 35px;
  
}

.ex-buttons:hover{
  text-decoration: underline;
}